div.bg-image{
    width: 100%;
    position: absolute;
    height: 100%;
    background: url(/images/splashscreen2.png) no-repeat center center;    
}

progress#extendedSplashProgress{
    color: white;
    width:620px;
    position:absolute;
    margin-left: calc(50% - 310px);
    margin-top: calc(50% - 150px);
}