div.bg-image{
    width: 620px;
    height: 300px;
    margin-left: calc(50% - 310px);
    margin-top: calc(30% - 150px);
    background: url(/images/splashscreen2.png) no-repeat center center;    
}

progress#extendedSplashProgress{
    color: white;
    width: 100%;
}