<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerError</key>
	<integer>3</integer>
	<key>ClientError</key>
	<integer>2</integer>
	<key>OK</key>
	<integer>1</integer>
</dict>
</plist>
