.my-logout-button {
    float: right;
    margin-right: 50%;
    margin-top: 13%;
}

.itemslist {
    width: 100%;
    z-index: 0;
    position: relative;
}
    .itemslist .item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
        height: 150px;
        width: 150px;
    }

@media (device-height: 768px) {
    .itemslist {
        height: 675px;
    }
}

@media (device-height: 800px) {
    .itemslist {
        height: 704px;
    }
}

@media (device-height: 900px) {
    .itemslist {
        height: 792px;
    }
}

@media (device-height: 1080px) {
    .itemslist {
        height: 950px;
    }
}

@media (device-height: 1600px) {
    .itemslist {
        height: 1408px;
    }
}

@media (device-height: 1800px) {
    .itemslist {
        height: 1584px;
    }
}
