@media (device-height: 768px) {
    #session-list {
        height: 664px;
    }
}

@media (device-height: 800px) {
    #session-list {
        height: 692px;
    }
}

@media (device-height: 900px) {
    #session-list {
        height: 779px;
    }
}

@media (device-height: 1080px) {
    #session-list {
        height: 934px;
    }
}

@media (device-height: 1600px) {
    #session-list {
        height: 1384px;
    }
}

@media (device-height: 1800px) {
    #session-list {
        height: 1557px;
    }
}