.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
	left: -10px;
	right: -10px;
	top: -10px;
	bottom: -10px;
}
.knob-inner .percentage {
	text-align:center;
	display:block;
}
.knob-inner .percentage span{
	text-align:center;
	display:inline-block;
	margin-left:-10px;
	margin-top:-10px;
	font-size:24px;
	font-family: 'RobotoBoldCondensed',Arial,san-serif;
}