body{
    /*background-color: #48D1CC;*/
    /*background-color: #0e6f3b;*/
    background-color: #03964a;
    height: 100%;
}

.page .pageregion{
    margin-left: 80px;
}

.my-header{ height: 10%; width: 100%;}

header{	
    width: 80%;
    height: 100%;
    float: left;
}
/*Round button*/
.win-roundbutton {
    text-align: center;
    display: inline-block;
    min-width: 0;
    min-height: 0;
    background-clip: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    padding: 0;
    text-align: center;

    /* Normal sizing. */
    width: 41px;
    height: 41px;
    font-size: 14pt;
    line-height: 37px; /* line-height must match the content box height. */
    vertical-align: baseline;
}
.win-roundbutton:hover, .win-roundbutton:hover:active {
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}
.win-roundbutton::before {
    font-family: "Segoe UI Symbol";
    font-weight: normal;
    vertical-align: 50%;
}

.win-roundbutton:disabled, .win-backbutton:disabled:active {
    visibility: hidden;
}

.win-roundbutton:hover {
    background-color: transparent;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

div.left-button-div{
    width: 10%;
    height: 100%;
    float: left;
}

div.right-button-div{
    width: 10%;
    height: 100%;
    float: left;
}

section{  
    float: left;
    width: 100%;
    height: 90%;
}


button{
    font-family: 
        "Segoe UI",
        "Ebrima",
        "Nirmala UI",
        "Gadugi",
        "Segoe UI Symbol",
        "Meiryo UI",
        "Khmer UI",
        "Tunga",
        "Lao UI",
        "Raavi",
        "Iskoola Pota",
        "Latha",
        "Leelawadee",
        "Microsoft YaHei UI",
        "Microsoft JhengHei UI",
        "Malgun Gothic",
        "Estrangelo Edessa",
        "Microsoft Himalaya",
        "Microsoft New Tai Lue",
        "Microsoft PhagsPa",
        "Microsoft Tai Le",
        "Microsoft Yi Baiti",
        "Mongolian Baiti",
        "MV Boli",
        "Myanmar Text",
        "Cambria Math";
}

button {
    background-color: rgba(182, 182, 182, 0.7);
    border-color: rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
}

::selection {
    background-color: rgb(87, 41, 193);
    color: rgb(255, 255, 255);
}


button{
    min-height: 32px; /* content (20px) + padding + border */
    min-width: 90px;
    padding: 4px 8px;
    border-width: 2px;
    border-style: solid;
    background-clip: padding-box;
    font-size: 11pt;
    font-weight: 600;
    line-height: 1.3636; /* 20px when font-size is 11pt */
}

button{
    letter-spacing: 0.02em;
}

/*
Back button snapped view sizing.
*/

.win-backbutton::before {
    content: "\E0D5";
}

.win-backbutton{
    margin-left: 35%;
    margin-top: 16%;
}

.win-cancelbutton::before {
    content: "\E10A";
}

.win-cancelbutton{
    float: left; 
    margin-top: 16%; 
    margin-left: 35%;
}

@media (-ms-view-state: snapped) {
    .win-backbutton {
        width: 30px;
        height: 30px;
        font-size: 10pt;
        line-height: 26px; /* line-height must match the content box height */
        vertical-align: -0.37em;
    }
}

/*Progress ring*/
progress.win-ring:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}
progress.win-ring {
    width: 20px;
    height: 20px;
}
progress.win-medium.win-ring {
    width: 40px;
    height: 40px;
}
progress.win-large.win-ring {
    width: 60px;
    height: 60px;
}
/*pr*/


/*Rectangle button*/

.rectangle-button{
    height: 100%;
    padding: 2px 20px;
    font-size: 24pt;
}

.rectangle-button:enabled:hover{
    background-color: transparent;
    border-color: magenta;
    color: blue;
}

.rectangle-button:disabled{
    color: gray !important;
}
/*rb*/