<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataBase</key>
	<string>local.db</string>
	<key>Secret</key>
	<string>h7a7RaRtvAVwnMGq5BV6</string>
	<key>BaseURL</key>
	<string>http://www.cardiomood.com/BaseProjectWeb/</string>
</dict>
</plist>
